.main {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--primaryColor);
  /* padding: 10px 0; */
}

.main > nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (min-width: 700px) {
  .main {
    width: 200px;
    height: 100vh;
    left: 0;
    top: 0;
  }

  .main > nav {
    display: flex;
    flex-direction: column;
    border-top: 1px solid blue;
    /* line-height: 40px; */
  }
}

@media screen and (min-width: 1000px) {
  .main {
    width: 300px;
  }
}
